<div class="pos-f-t" style="position:fixed;width:100%;">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light p-4 shadow">
            <h4 class="text-dark">Bienvenido al sistema de consultas!</h4>
            <span class="text-muted">Gracias a esta apliacacion todos tus pacientes podran ver los resultados de sus analisis de una manera mas agil.</span>
        </div>
    </div>
    <nav class="navbar shadow p-2 d-flex justify-content-around">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button routerLink="/consulting" class="btn btn-outline-success" type="button">
            Consultar
        </button>
    </nav>
</div>