<div class="pos-f-t" style="position:absolute;width:100%;z-index: 10000;">
    <nav class="navbar p-2 d-flex justify-content-end">
        <button class="btn btn-danger shadow" (click)="salir()" type="button">
            Salir
        </button>
    </nav>
</div>

<!-- <div class="row"> -->
<div style="width:100%;height:100vh;">
    <app-map [latitud]="latitud" [longitud]="longitud" #map></app-map>
</div>
<!-- </div> -->

<button class="btn btn-secondary text-white shadow envios" (click)="step=1" type="button" data-toggle="modal" data-target="#modalEnvios">
    Envios pendientes {{ envios }}
</button>


<!-- Modal -->
<div class="modal fade" id="modalEnvios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Envios pendientes</h5>
            </div>
            <div class="modal-body">

                <div *ngIf="!loading" class="bg-light p-3 border shadow table-responsive">
                    <table class="table table-hover responsive" id="listShipments" style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Documento</th>
                                <th>Estado</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let shipment of listShipments" class="text-start">
                                <td><i class="fa-solid fa-location-dot mr-2 text-black"></i></td>
                                <td>{{shipment.identification}}</td>
                                <td>{{shipment.status}}</td>
                                <td>
                                    <button class="btn btn-success shadow" [disabled]="!shipment.latitudInput && !shipment.longitudInput" data-dismiss="modal" (click)="selectShipments(shipment.latitudInput, shipment.longitudInput);map.selectedShipment();getAllShipments();"><i class="fa-solid fa-play"></i> Iniiciar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>