<div class="fc">

    <!-- <div class="container" *ngIf="step!==3"> -->
    <div *ngIf="step===1">
        <div class="row justify-content-center allscreen">

            <!-- <div class="row">
                <div class="col-6 text-start">
                    <p routerLink="/home" class="btn btn-success mt-1" *ngIf="!session"><span><i class="fa-solid fa-house"></i></span></p>
                </div>
            </div> -->

            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-5 col-sm-10 text-center">
                    <img src="../../../assets/img/search.svg" alt="" width="50%">
                </div>
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12 shadow p-5 text-center border-radio">
                <div class="alert alert-info" role="alert" *ngIf="result === 'noFound'">
                    No se encuentran resultados.
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="result === 'fail'">
                    Error al buscar resultados.
                </div>
                <h3 style="font-weight:800;">Buscar resultados</h3>
                <input type="text" [(ngModel)]="identification" class="form-control shadow mt-3" maxLength="11" placeholder="Digite un codigo">
                <button *ngIf="!loading" class="btn btn-success btn-block btn-lg mt-3 shadow" [disabled]="identification === ''" (click)="search()">
                        Consultar
                    </button>
                <button *ngIf="loading" class="btn btn-success btn-block btn-lg mt-3 shadow" [disabled]="identification === ''" (click)="search()">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Buscando...
                    </button>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-5 col-sm-10 text-center text-dark mt-3">
                    <h5>Consulta tus resultados de una forma mas rapida sin contra tiempos!</h5>
                </div>
            </div>

        </div>
    </div>


    <div *ngIf="step===2">
        <div class="row justify-content-center allscreen">
            <div class="col-lg-11 col-md-11 col-sm-11 text-center">
                <div class="row justify-content-around">
                    <div class="col-6 text-start">
                        <p class="btn btn-secondary mt-1" (click)="back()"><span><i class="fa-solid fa-arrow-left"></i></span></p>
                        <!-- <p routerLink="/home" class="btn btn-success ml-2 mt-1" *ngIf="!session"><span><i class="fa-solid fa-house"></i></span></p> -->
                    </div>
                    <div class="col-6 pt-2 text-end text-success">
                        <h4><b>Resultados</b></h4>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-lg-4 col-md-4 col-sm-11 p-2" *ngFor="let document of listDocuments; let i = index">

                        <div class="card shadow d-flex-sm justify-content-space-around">
                            <div class="card-body ">
                                <!-- <div class="p-2">
                                        <img class="" width="100px" src="../../../assets/img/pdf.png" alt="File">
                                    </div> -->
                                <div class="text-start">
                                    <div class="alert alert-secondary" role="alert">
                                        <p><b>Nombre:</b><br> {{ document.name }}</p>
                                        <p><b>Descripcion:</b><br> {{ document.description }}</p>
                                        <span class="badge bg-secondary"><b>Fecha: {{ getDate(document.created_at) | date:'dd/MM/yyyy' }}</b></span>
                                    </div>
                                    <a (click)="step=3;showPDF(document.file)" style="width:100%;" class="btn btn-success text-white btn-lg m-1 d-flex justify-content-between">Visualizar <i class="fa-solid fa-eye"></i></a>
                                    <!-- <a style="width:100%;" target="_blank" class="btn btn-info text-white btn-lg m-1"><i class="fa-solid fa-envelope"></i> Correo</a> -->
                                    <!-- <a style="width:100%;" target="_blank" class="btn btn-danger text-white btn-lg m-1 d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setIdentification(document.entity_id)">Enviar aqui<i class="fa-solid fa-location-dot"></i></a> -->
                                    <!-- <a style="width:100%;" target="_blank" class="btn btn-danger text-white btn-lg m-1 d-flex justify-content-between" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getLocation(document.entity_id)">Enviar aqui<i class="fa-solid fa-location-dot"></i> </a> -->
                                    <a (click)="downloadPDF(document.file)" style="width:100%;" class="btn btn-warning text-white btn-lg m-1 d-flex justify-content-between">Descargar <i class="fa-solid fa-download"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- </div> -->

    <div *ngIf="step===3">
        <div class="row">

            <div class="row justify-content-around">
                <div class="col-4 text-start">
                    <p class="btn btn-secondary mt-1" (click)="step=2"><span><i class="fa-solid fa-arrow-left"></i></span></p>
                    <!-- <p routerLink="/home" class="btn btn-success ml-2 mt-1" *ngIf="!session"><span><i class="fa-solid fa-house"></i></span></p> -->
                </div>
                <div class="col-8 pt-2 text-end text-success">
                    <h4><b>Visualizar documento</b></h4>
                </div>
            </div>

        </div>
        <div class="row justify-content-around allscreen">

            <div class="mt-2 col-lg-12 col-md-12 col-sm-12 text-center">
                <iframe [src]="documentFile" style="height:100vh;" width="100%"></iframe>
            </div>

        </div>
    </div>

    <div *ngIf="status!=='' && step!==3" class="row justify-content-center align-items-center ventana-total">
        <div class="col-12 text-center">
            <div *ngIf="status!=='enviado'" class="spinner-border" style="width: 8rem; height: 8rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <h2 *ngIf="status==='location'" class="text-white">Obteniendo ubicacion</h2>
            <h2 *ngIf="status==='enviando'" class="text-white">Enviando solicitud</h2>
            <h2 *ngIf="status==='enviado'" class="text-white">Solicitud enviada</h2>
            <h2 *ngIf="status==='fail'" class="text-white">No se pudo obtener su ubicacion</h2>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-location-dot text-dark"></i> Localización</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5><b>Importante!</b></h5>
                    <h6>Antes de hacer click en el boton enviar tomar en cuenta que tienes que activar geolocalización en tu dispositivo.</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="getLocation()">Enviar</button>
                </div>
            </div>
        </div>
    </div>

</div>