<!-- <app-navbarinto *ngIf="session"></app-navbarinto> -->


<div class="row without-borders d-none d-lg-flex d-md-flex">

    <div class="col-lg-2 col-md-3 col-sm-12 text-center without-borders" style="background:#96bc96;">
        <app-submenu [page]="'consulting'"></app-submenu>
    </div>

    <div class="col-lg-10 col-md-9 col-sm-12">
        <div class="container">
            <div class="row mt-2" *ngIf="!session">
                <div class="col-6 text-start">
                    <p routerLink="" class="btn btn-secondary mt-1"><span><i class="fa-solid fa-arrow-left"></i></span></p>
                </div>
            </div>
            <div class="row justify-content-center allscreen pt-3" *ngIf="step===1">

                <div class="row justify-content-center" style="margin-top: -100px;">
                    <div class="col-lg-5 col-md-5 col-sm-10 text-center">
                        <img src="../../../assets/img/search.svg" alt="" width="50%">
                        <h2></h2>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12 col-sm-12 shadow p-5 text-center border-radio" style="margin-top: -200px;">
                    <div class="alert alert-info" role="alert" *ngIf="result === 'noFound'">
                        No se encuentran resultados.
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="result === 'fail'">
                        Error al buscar resultados.
                    </div>
                    <h3 style="font-weight:800;">Buscar resultados</h3>
                    <input type="text" [(ngModel)]="identification" class="form-control shadow mt-3" maxLength="11" placeholder="Digite un codigo">
                    <button *ngIf="!loading" class="btn btn-success btn-block btn-lg mt-3 shadow" [disabled]="identification === ''" (click)="search()">
                        Consultar
                    </button>
                    <button *ngIf="loading" class="btn btn-success btn-block btn-lg mt-3 shadow" [disabled]="identification === ''" (click)="search()">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Buscando...
                    </button>
                </div>

                <div class="row justify-content-center" style="margin-top: -250px;">
                    <div class="col-lg-5 col-md-5 col-sm-10 text-center text-dark mt-3">
                        <h5>Consulta tus resultados de una forma mas rapida sin contra tiempos!</h5>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center allscreen pt-3" *ngIf="step===2">
                <div class="col-lg-11 col-md-11 col-sm-11 text-center">
                    <div class="row justify-content-around">
                        <div class="col-6 text-start">
                            <p class="btn btn-secondary mt-1" (click)="back()"><span><i class="fa-solid fa-arrow-left"></i></span></p>
                        </div>
                        <div class="col-6 pt-2 text-end text-success">
                            <h4><b>Resultados</b></h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-4 col-sm-11 p-2" *ngFor="let document of listDocuments; let i = index">

                            <div class="card shadow d-flex-sm justify-content-space-around">
                                <div class="card-body ">
                                    <div class="p-2">
                                        <img class="" width="100px" src="../../../assets/img/pdf.png" alt="File">
                                    </div>
                                    <div class="text-start">
                                        <p><b>Nombre:</b><br> {{ document.name }}</p>
                                        <p><b>Descripcion:</b><br> {{ document.description }}</p>
                                        <p><b>Fecha:</b><br>{{ getDate(document.created_at) }}</p>
                                        <a (click)="step=3;showPDF(document.file);details(document)" style="width:100%;" class="btn btn-success text-white btn-lg m-1"><i class="fa-solid fa-eye"></i> Ver</a>
                                        <!-- <a style="width:100%;" class="btn btn-danger text-white btn-lg m-1"><i class="fa-solid fa-location-dot"></i> Localizame</a> -->
                                        <a (click)="downloadPDF(document.file)" style="width:100%;" class="btn btn-warning text-white btn-lg m-1"><i class="fa-solid fa-download"></i> Descargar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container p-5" *ngIf="step===3">
                <div class="row mt-2">
                    <h3>Visualizar documento</h3>
                    <div class="col-6 text-start">
                        <p class="btn btn-secondary mt-1" (click)="step=2"><span><i class="fa-solid fa-arrow-left"></i></span></p>
                    </div>
                </div>
                <div class="row justify-content-around allscreen">

                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <iframe [src]="documentFileIframe" style="height:100vh;" width="100%"></iframe>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<div class="d-flex justify-content-center align-items-center text-center d-sm-block d-lg-none d-md-none" style="height:100vh;">
    <div>
        <img class="mb-3" src="../../../assets/img/devices.svg" width="80%" alt="">
        <h2 class="mb-3">Utilice una tableta o una pc para visualizar contenido.</h2>
        <a routerLink="/" class="btn btn-success shadow">Pagina principal</a>
    </div>
</div>